/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
	width: 960px;
	margin: auto;
}

header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/
h3 {
     padding-left: 20px;
     padding-top: 40px;
}


.field {
     margin-left: 200px;
     width: 900px;
     height: 36px;
}

label {
     width: 150px;
     position: absolute;
     left:0;
     padding-left: 20px;
}

input {
     border-radius: 5px;
     box-shadow: none;
     border: solid silver 1px;
     padding: 2px;
}

textarea {
     width: 340px;
     height: 70px;
     border-radius: 5px;
     border: solid silver 1px;
}

select {
     border: solid silver 1px;
}

.dash {
     color: silver;
}

.phone {
     width: 50px;
}

#addressContainer {
     width: 340px;
}

.address {
     width: 100%;
     margin-top: 5px;
}

#city {
     width: 160px;
}      

#state, 
#postalCode{
     width: 86px;
}

.buttons {

}

button {
     padding: 5px;
     margin-top: 50px;
     margin-left: 20px;
     height: 100%;
     border-radius: 5px;
     border: solid silver 1px;
}



