

/* ---> Default .............................................. */

	* {
		font-family: Avenir;
		letter-spacing: .5px;
		/*text-transform: capitalize;*/
	}

	.nav.active { 
		color: black;
		background-color: silver;
		outline: solid white 1px;
		z-index: 1;
	}  


/* ---> Which is better to set width for Responsive Design? ('body' or '#container') <--- */

	body {
		width: 666px;
		/*margin: auto;*/
		margin-left: 27px;
	}
	
/*	#container{
		width: 666px;
	}
*/
	
/* ---> Header ............................................... */

	header {
		/*margin-top: 20px;*/
		border-bottom: solid white 1px;
	}

	h1 {
		background-color: black;
		color: white;
		margin: auto;
		width: auto;
		height: 50px;
		font-size: 25px;
		line-height: 50px;	
		border-top-left-radius:  15px;
		border-top-right-radius: 15px;
	}

	#eazeLogo {
		margin-left: 15px;
		margin-top: 15px;
		margin-bottom: 10px;
		width: auto;
		height: 25px;
		outline: none;
		border: none;
	}
	
	#searchBar {
		float: right;
		margin-right: 15px;
		margin-top: 25px;
		margin-bottom: 10px;
		width: 125px;
		height: 15px;
		border-radius: 15px;
		padding: 2px;
		border: 0;
		outline: none;
		color: silver;
	}


/* ---> Nav .................................................. */

	#nav {
		width: 666px;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		text-decoration: none;		
		text-align: center;
		background-color: black;
		color: white;
	}

	.nav {
		list-style: none;
		margin: auto;
		padding: 0;
		width: 100%;
		text-decoration: none;		
		text-align: center;
		background-color: black;
		color: white;

		display: inline-block;
		width: 33.33%;
		height: 30px;
		line-height: 30px;
		position: relative;
		float: left;
	}

	.nav:hover {
		color: black;
		background-color: silver;
		outline: solid white 1px;
		z-index: 1;
	}

	.navDrop {
		list-style: none;
		margin: 0;
		padding: 0;

		text-decoration: none;		
		background-color: black;
		color: white;
		text-align: center;

		display: inline-block;
		width: 33.33%;
		height: 30px;
		line-height: 30px;
		float: left;
	}

	#categoryContainer {
		background-color: black;
		width: 666px;
		height: 30px;
		float: left;
		display: none;
	}

	li:hover {
		color: black;
		background-color: silver;
		outline: solid white 1px;
		z-index: 2;
	}
	
	.category {
		line-height: 30px;
		font-size: 13px;
		width: 33.33%;
		text-align: center;
		margin: auto;
		float: left;
		list-style-type: none;
	}
	
	#dropMens {
		float: left;
		display: none;
	}
	
	#dropWomens {
		margin-left: 33.33%;
		margin-right: 33.33%;
		display: none;
	}
	
	#dropAccessories {
		float: right;
		display: none;
	}
	
	
 /*---> Images ............................................... */

	#imgContainer {
		position: relative;
		width: 100%;
		height: same-as-width;
		/*border-top: solid white 1px;*/
		/*display: none;*/
	}
	
	img {
		width: 33.33%;
		height: same-as-width;
		float: left;
		margin: none;
		padding: 0;
		outline: solid white 1px;
	}

	.sidePic {
		z-index: 3;
	}
	
	
 /*---> Footer ............................................... */

	footer {
		height: 30px;
	}

	.footer {
		width: 100%;
		height: 100%;
		float: left;
		font-size: 12px;
		line-height: 30px;
		border-top: solid white 1px;
	}

	#footerLeft {
		font-size: 10px;
		width: 33.33%;
		margin-right: 66.66%;
		float: left;
		background-color: black;
		border-bottom-left-radius: 15px;
		z-index: 2;
	}

	#bottomLeft:hover {
		color: black;
		background-color: silver; 
		border-bottom-left-radius: 15px;
	}

	.leftFooter {
		width: 33.33%;
		float: left;
	}

	#footerRight {
		background-color: black;
		/*float: right;*/
		color: white;
		margin-left: 33.33%;
		width: 66.66%;
		height: 30px;
		border-bottom-right-radius: 15px;	
	}

/* ---> Why are #allRights below footer? <--- */
/* ---> It seems to have to do with the 'float: right;' of '#footerRight' <--- */

	#allRights {
		background-color: silver;
		color: white;
		font-size: 8px;
		padding: 5px;
		/*outline: solid white 1px;*/
		/*position: relative;*/
		float: right;
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 15px; 
		vertical-align: center;
		line-height: 10px;
	}


