

/* ---> Default .............................................. */

	html {
		font-family: Avenir;
		letter-spacing: .5px;
	}

	.active { 
		color: black;
		background-color: silver;
	}   

	.clearfix:after {
	  content: ".";
	  display: block;
	  clear: both;
	  visibility: hidden;
	  line-height: 0;
	  height: 0;
	}


/* ---> Body ................................................. */

	#bodyContainer {
		width: 90%;
		margin: auto;
	}

	
/* ---> Header ............................................... */

	#headerContainer {
		background-color: black;
		color: white;

		width: 100%;

		border-top-left-radius:  15px;
		border-top-right-radius: 15px;

		border-top:   solid white 1px;
		border-right: solid white 1px;
		border-left:  solid white 1px;
		/*border: solid white 1px;*/

		box-sizing: border-box;
	}

	#eazeLogo {
		margin-top:    15px;
		margin-bottom: 10px;
		margin-left:   15px;
		margin-right:  5px;
		
		float: left;

		height: 25px;
		width: auto;
		
		outline: none;
		border: none;
	}
	
	#searchBar {
		margin-top:    25px;
		margin-bottom: 10px;
		margin-right:  15px;
		margin-left:   5px;

		float: right;

		max-width: 25%;
		min-width: 10%;

		height: 15px;
		border-radius: 15px;
		padding: 2px;
		border: 0;

		outline: none;
		color: silver;
	}


/* ---> Nav .................................................. */

	#navContainer {
		width: 100%;
		border: solid white 1px;
		box-sizing: border-box;
	}

	#deptContainer {
		width: 100%;
	}

	#categoryContainer {
		background-color: black;
		height: 30px;
		/*float: left;*/
		display: none;
	}

/*	#deptContainer {
		list-style: none;
		margin: auto;
		padding: 0;
		width: 100%;
		text-decoration: none;		
		text-align: center;
		background-color: black;
		color: white;
		display: inline-block;
		width: 33.33%;
		height: 30px;
		line-height: 30px;
		position: relative;
		float: left;
	}*/

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		text-decoration: none;		
		text-align: center;
		background-color: black;
		color: white;
	}

	.nav {
		list-style: none;
		margin: auto;
		padding: 0;
		width: 100%;
		text-decoration: none;		
		text-align: center;
		background-color: black;
		color: white;
		display: inline-block;
		width: 33.33%;
		height: 30px;
		line-height: 30px;
		position: relative;
		float: left;
	}

/*	.nav:hover {
		color: black;
		background-color: silver;
		outline: solid white 1px;
		z-index: 1;
	}
*/
	.navDrop {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
		text-decoration: none;		
		background-color: black;
		color: white;
		text-align: center;
		width: 33.33%;
		line-height: 30px;
		float: left;
	}

	#categoryContainer {
		background-color: black;
		width: 100%;
		height: 30px;
		float: left;
		/*border-bottom: solid white 1px;*/
		display: none;
	}

	li:hover {
		color: black;
		background-color: silver;
		/*outline: solid white 1px;*/
		z-index: 2;
	}
	
	.category {
		line-height: 30px;
		font-size: 13px;
		width: 33.33%;
		text-align: center;
		margin: auto;
		float: left;
		list-style-type: none;
	}
	
	#dropMens {
		float: left;
		display: none;
	}
	
	#dropWomens {
		margin-left: 33.33%;
		margin-right: 33.33%;
		display: none;
	}
	
	#dropAccessories {
		float: right;
		display: none;
	}
	
	
 /*---> Images ............................................... */

	#imgContainer {
		width: 100%;
		height: same-as-width;
		display: none;
	}
	
	img {
		width: 33.33%;
		height: same-as-width;
		float: left;
		margin: none;
		padding: 0;
		border: solid white 1px;
		box-sizing: border-box;
	}
	
	
 /*---> Footer ............................................... */

	#footerContainer {
		/*background-color: black;*/

		width: 100%;
		float: left;

/*		font-size: 12px;
		line-height: 30px;*/

/*		border-bottom-left-radius:  15px;
		border-bottom-right-radius: 15px;*/
		
		border-bottom:   solid white 1px;
		border-right: solid white 1px;
		border-left:  solid white 1px;
		/*border: solid white 1px;*/

		box-sizing: border-box;
	}

	#footerLeft {
		background-color: black;		
		font-size: 10px;
		width: 33.33%;
		height: 30px;
		line-height: 30px;
		float: left;
		border-bottom-left-radius: 15px;

		box-sizing: border-box;
	}

	#bottomLeft:hover {
		border-bottom-left-radius: 15px;
	}

	.leftFooter {
		width: 33.33%;
		float: left;
	}

	#footerCenter {
		background-color: black;
		float: left;
		color: white;
		width: 33.33%;
		height: 30px;
	}

	#footerRight {
		background-color: black;
		float: right;
		color: white;
		width: 33.33%;
		height: 30px;
		border-bottom-right-radius: 15px;	
	}

	#allRights {
		color: white;
		font-size: 9px;
		position: relative;
		float: right;
		margin-bottom: 0;
		margin-right: 15px; 
		line-height: 25px;
	}


