* {
	font-family: Arial;
}

#container {
	width: 1000px;
	height: 1000px;
	margin: auto;
	padding: 20px;
}

header {
	background-color: white;
	margin: auto;
}

h1 {
	font-size: 50px;
	line-height: 75px;	
	height: 75px;
	padding: 10px;
	margin: 0px;
	float: left;
}

h2 {
	font-size: 25px;
	text-align: left;
	line-height: 75px;	
	height: 75px;
	padding: 10px 200px 10px;
	margin: 0px;
}

nav {
	background-color: black;
	height: 45px;
	outline: solid white 1px;
}

a {
	display: inline-block;
	background-color: black;
	font-size: 25px;
	line-height: 30px;
	height: 25px;
	width: 33.33%;
	padding: 10px 0px;
	vertical-align: 30px;
	outline: solid white 1px;
	text-decoration: none;
	text-align: center;
}

a:link { 
	color: White; 
}
     
a:visited { 
	color: White; 
}

a:hover { 
	font-size: 25px;
	line-height: 30px;
	color: black;
	background-color: Silver; 
} 

a:active { 
	color: PaleBlue; 
} 

#main-container {
	background-color: white;
}

.picture {
	float: left;
	outline: solid white 1px;
	width: 33.33%;
	height: auto;
}
